
/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
$dark-yellow: #ffdb55;
$bg-color: #aecad8;
$btn-color: #38434a;
$btn-color-hover: #414e56;

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body,
html {
  height: 100%;
  width: 100%;
}

body {
  background: $bg-color;
  transition: all 0.14s ease-in;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
.o-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/

/* body.u-active {
  background: #f3f7f9;
} */
