
/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$bg-white: #F4F6FA;
$bg-dark: #53777d;
$btn-color: #2D4043;
$yellow: #E3D35F;

$system-green: #4CAF50;
$system-blue: #4A90E2;


@keyframes dash {
  to {
      stroke-dashoffset: 0;
  }
}
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

.color{
  &-solar{
    fill: $system-green;
    color: $system-green;
  }
  &-grid{
    fill: $system-blue;
    color: $system-blue;
  }
  &-car{
    fill: $yellow;
    color: $yellow;
  }
}


/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body,
html {
  font-family: "Inter";
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background: $bg-dark;
  transition: all 0.14s ease-in;
}

h1{
  font-weight: 700;
}

h2{
  font-weight: 600;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
.o-container {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 100vh;
  // width: 100vw;
  max-width: 64rem;
  padding: 1rem;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

.c-hidden{
  display: none !important;
}

.c-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.c-settings{
  fill: $btn-color;
  padding: 2rem;
  &:hover{
    fill: $bg-white;
  }
  @media (max-width: 425px) {
    padding: 0.3125rem;
    padding-right: 1rem;
  }
  
}

.c-nav{
  margin: 0 auto;
  max-width: 15.5rem;
  padding: 0.25rem;
  border-radius: 1rem;
  background: $bg-white;
  
  &__items{
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 0;
  }
  &__item{
    display: flex;
    padding: 0.5rem 2rem;
    border-radius: 0.75rem;
    color: $btn-color;
    p{
      margin: 0;
    }
  }
  &__active{
    background: $btn-color;
    color: $bg-white;
  }
  &__spacing{
    @media (max-width: 425px) {
      padding: 1rem;
      padding-left: 1rem;
    }
    padding: 2.8125rem;
  }
}


.c-house{
  margin: auto;
  padding-top: 2rem;
  max-width: 48rem;  
}

.c-text{
  left: 50px;
}

.c-power{
  fill: none;
  stroke: $btn-color;
  stroke-width: 0.5rem;
  stroke-linecap:round;
  stroke-linejoin:round;
  &__solar{
    stroke-dasharray: 16.8;
    stroke-dashoffset: 100;
    animation: dash 5s linear forwards infinite;
    stroke-width: 1rem;
    stroke: $system-green;
  }
  &__grid{
    stroke-dasharray: 16.8;
    stroke-dashoffset: 100;
    animation: dash 5s linear forwards infinite reverse;
    stroke-width: 1rem;
    stroke: $system-blue;
  }
  &__house{
    stroke-dasharray: 16.8;
    stroke-dashoffset: 100;
    animation: dash 5s linear forwards infinite;
    stroke-width: 1rem;
    stroke: $yellow;
  }
  &__car{
    stroke-dasharray: 16.8;
    stroke-dashoffset: 100;
    animation: dash 5s linear forwards infinite;
    stroke-width: 1rem;
    stroke: $system-green;
  }

}

.c-box{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  fill: $btn-color;
}


.c-history{
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1 0 0;  

  @media (max-width: 425px) {
     padding-top: 2rem;
  }
  

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    @media (max-width: 425px) {
      flex-direction: column-reverse;
      gap: 1rem;
      align-items: flex-end;
    }
  }
  &__legend{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 2.6875rem;
    gap: 1rem;
    padding: 0rem 1.5rem;
    align-items: center;
    background-color: $bg-white;
    color: $btn-color;
    border-radius: 1rem;

    @media (max-width: 425px) {
      justify-content: space-evenly;
      flex-grow: 1;
      width: 100%;
      padding: 0;
    }

    &__item{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &__date{
    font-family: "Inter";
    appearance: none;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    height: 2.6875rem;
    padding: 0rem 3rem 0rem 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: $bg-white;
    color: $btn-color;
    fill: $btn-color;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M459-381 314-526q-3-3-4.5-6.5T308-540q0-8 5.5-14t14.5-6h304q9 0 14.5 6t5.5 14q0 2-6 14L501-381q-5 5-10 7t-11 2q-6 0-11-2t-10-7Z" fill="2D4043" /></svg>');
    background-repeat: no-repeat;
    background-position: right 1rem top 50%;
    // padding: 2rem;
  }

  &__graph{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    &__item{
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 0 0;
      align-self: stretch;
      flex-basis: 10rem;
      height: auto;
      border-radius: 1rem;
      background-color: $bg-white;
    }
  }
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/

/* body.u-active {
  background: #f3f7f9;
} */

.u-rm-list{
  list-style: none;
}
