/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
.color-solar {
  fill: #4CAF50;
  color: #4CAF50;
}
.color-grid {
  fill: #4A90E2;
  color: #4A90E2;
}
.color-car {
  fill: #E3D35F;
  color: #E3D35F;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body,
html {
  font-family: "Inter";
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #53777d;
  transition: all 0.14s ease-in;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
.o-container {
  max-width: 64rem;
  padding: 1rem;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-hidden {
  display: none !important;
}

.c-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.c-settings {
  fill: #2D4043;
  padding: 2rem;
}
.c-settings:hover {
  fill: #F4F6FA;
}
@media (max-width: 425px) {
  .c-settings {
    padding: 0.3125rem;
    padding-right: 1rem;
  }
}

.c-nav {
  margin: 0 auto;
  max-width: 15.5rem;
  padding: 0.25rem;
  border-radius: 1rem;
  background: #F4F6FA;
}
.c-nav__items {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.c-nav__item {
  display: flex;
  padding: 0.5rem 2rem;
  border-radius: 0.75rem;
  color: #2D4043;
}
.c-nav__item p {
  margin: 0;
}
.c-nav__active {
  background: #2D4043;
  color: #F4F6FA;
}
.c-nav__spacing {
  padding: 2.8125rem;
}
@media (max-width: 425px) {
  .c-nav__spacing {
    padding: 1rem;
    padding-left: 1rem;
  }
}

.c-house {
  margin: auto;
  padding-top: 2rem;
  max-width: 48rem;
}

.c-text {
  left: 50px;
}

.c-power {
  fill: none;
  stroke: #2D4043;
  stroke-width: 0.5rem;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.c-power__solar {
  stroke-dasharray: 16.8;
  stroke-dashoffset: 100;
  animation: dash 5s linear forwards infinite;
  stroke-width: 1rem;
  stroke: #4CAF50;
}
.c-power__grid {
  stroke-dasharray: 16.8;
  stroke-dashoffset: 100;
  animation: dash 5s linear forwards infinite reverse;
  stroke-width: 1rem;
  stroke: #4A90E2;
}
.c-power__house {
  stroke-dasharray: 16.8;
  stroke-dashoffset: 100;
  animation: dash 5s linear forwards infinite;
  stroke-width: 1rem;
  stroke: #E3D35F;
}
.c-power__car {
  stroke-dasharray: 16.8;
  stroke-dashoffset: 100;
  animation: dash 5s linear forwards infinite;
  stroke-width: 1rem;
  stroke: #4CAF50;
}

.c-box {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2rem;
  fill: #2D4043;
}

.c-history {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1 0 0;
}
@media (max-width: 425px) {
  .c-history {
    padding-top: 2rem;
  }
}
.c-history__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
@media (max-width: 425px) {
  .c-history__header {
    flex-direction: column-reverse;
    gap: 1rem;
    align-items: flex-end;
  }
}
.c-history__legend {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 2.6875rem;
  gap: 1rem;
  padding: 0rem 1.5rem;
  align-items: center;
  background-color: #F4F6FA;
  color: #2D4043;
  border-radius: 1rem;
}
@media (max-width: 425px) {
  .c-history__legend {
    justify-content: space-evenly;
    flex-grow: 1;
    width: 100%;
    padding: 0;
  }
}
.c-history__legend__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.c-history__date {
  font-family: "Inter";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  height: 2.6875rem;
  padding: 0rem 3rem 0rem 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #F4F6FA;
  color: #2D4043;
  fill: #2D4043;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M459-381 314-526q-3-3-4.5-6.5T308-540q0-8 5.5-14t14.5-6h304q9 0 14.5 6t5.5 14q0 2-6 14L501-381q-5 5-10 7t-11 2q-6 0-11-2t-10-7Z" fill="2D4043" /></svg>');
  background-repeat: no-repeat;
  background-position: right 1rem top 50%;
}
.c-history__graph {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}
.c-history__graph__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  flex-basis: 10rem;
  height: auto;
  border-radius: 1rem;
  background-color: #F4F6FA;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
/* body.u-active {
  background: #f3f7f9;
} */
.u-rm-list {
  list-style: none;
}